.c-button {
    padding: $global-padding 0;
    background-color: var(--color-primary) !important;
    color: var(--color-white);
    height: rem(40);
    border-radius: rem(4);
    margin-top: rem(8);
    width: 100%;
    text-align: center;
    opacity: 0.95;

    &__loading {
        circle {
            color: var(--color-white) !important;
        }
    }

    &:hover {
        opacity: 1;
    }
    span {
        font-weight: bolder;
        @include breakpoint(small) {
            font-size: $global-font-size-sm;
        }
    }
    svg,
    div,
    img,
    i {
        fill: var(--color-white);
        font-size: $global-font-size;
    }
}
