.c-button {
    padding: $global-padding;
    background-color: var(--color-primary);
    font-size: $global-font-size-lg;
    color: var(--color-white);
    border-radius: $global-radius / rem(2);
    font-weight: bolder;
    min-height: rem(25);
    margin-top: $global-margin;
    width: 100%;
    text-align: center;
    @include flex(center);
    opacity: 0.9;
    transition: 0.3s ease;
    &:hover {
        opacity: 1;
    }
}
