.c-button {
    padding: $global-padding 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    height: rem(40);
    border-radius: rem(4);
    margin-top: rem(8);
    width: 100%;
    text-align: center;
    opacity: 0.9;
    &:hover {
        opacity: 1;
    }
    span {
        @include flex(end);
        font-size: $global-font-size;
        width: 100%;
        margin: 1px;
        letter-spacing: $global-font-letter-spacing;
        font-weight: bolder;
    }
    svg,
    div,
    img,
    i {
        font-size: $global-font-size;
        margin-right: rem(8);
    }
}
