.c-form {
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    &__item {
        width: 100%;
    }
    &__headline {
        width: 100%;
        font-size: $global-font-size-xlg;
    }
    &__text {
        width: 100%;
        font-size: $global-font-size-lg;
        padding-bottom: $global-padding;
        position: relative;
        @include breakpoint(small) {
            font-size: $global-font-size;
        }
        &::after {
            content: "";
            width: 100%;
            height: rem(1);
            bottom: 0;
            left: 0;
            position: absolute;
            background-color: var(--color-shadow);
        }
    }
}
