.c-input {
    width: 100%;
    border-radius: rem(4);
    color: var(--font-color);
    padding: 0;
    transition: all 0.3s;
    overflow: hidden;
    box-shadow: 0 0 4px var(--color-shadow);
    position: relative;
    height: rem(30);
    @include breakpoint(small) {
        height: rem(25);
    }
    background-color: var(--color-background);
    margin-bottom: $global-margin;

    @include flex(space-between);
    align-items: center;

    &--error {
        background-color: lighten($danger, 35%);
        color: $danger;
        font-weight: 600;

        .c-input__item:focus {
            border: 1px solid var(--color-danger);
        }
    }

    &__title {
        width: 100%;
        display: block;
        margin-top: $global-margin;
        font-size: $global-font-size;
    }

    &__item {
        flex-grow: 2;
        display: block;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        height: 100%;
        padding: rem(4);
        padding-right: rem(25);
        font-size: $global-font-size;
        @include breakpoint(small) {
            font-size: $global-font-size-sm;
        }
        &:focus + .c-input__delete {
            display: block;
        }
    }

    &__icon {
        min-width: rem(45);
        max-height: rem(60);
        height: 100%;
        position: relative;
        background-color: var(--color-primary);
        text-align: center;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
        svg,
        i,
        img,
        div {
            font-size: $global-font-size;
            @include breakpoint(small) {
                font-size: $global-font-size-sm;
            }

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: drop-shadow(rem(1) rem(1) rem(4) var(--color-shadow));
            transition: 50ms;
            &:hover {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }

    &__delete {
        position: absolute;
        display: none;
        width: rem(20);
        right: 0;
        svg,
        i,
        img,
        div {
            position: absolute;
            top: 50%;
            font-size: $global-font-size;
            cursor: pointer;
            right: 0;
            transform: translate(-50%, -50%);
            transition: 50ms;
        }
    }
    &__errorText {
        font-size: $global-font-size;
        @include breakpoint(small) {
            font-size: $global-font-size-sm;
        }
        color: $danger;
        margin-left: rem(4);
        margin-top: rem(-4);
        font-weight: 600;
    }
}
