.c-select {
    width: 100%;
    background: inherit;
    margin-top: $global-margin !important;
    font-family: $font-family-sans-serif;
    label {
        color: var(--font-color) !important;
        font-family: inherit;
        font-size: $global-font-size;
        padding-bottom: $global-padding;
        margin-top: rem(-2);
        @include breakpoint(small) {
            font-size: $global-font-size-sm;
        }
    }
    div {
        color: var(--font-color);
        font-family: inherit;
    }

    *::after,
    *::before,
    input {
        caret-color: var(--font-color);
        color: var(--font-color) !important;
        border-color: var(--color-primary) !important;
        font-family: $font-family-sans-serif;
        font-size: $global-font-size;
        @include breakpoint(small) {
            font-size: $global-font-size-sm;
        }
    }

    > div {
        border: rem(1) solid rgba($color: $primary, $alpha: 0.4);
        border-bottom: none;
        color: var(--font-color);
        background-color: rgba($color: $primary, $alpha: 0.01);
        @include darkMode {
            background-color: rgba($color: $black, $alpha: 0.075);
        }
        &:hover {
            background-color: rgba($color: $primary, $alpha: 0.03);
            @include darkMode {
                background-color: rgba($color: $black, $alpha: 0.1);
            }
        }
        &:focus,
        &:focus-within,
        .MuiSelect-select:focus-within,
        .MuiSelect-select:focus {
            background-color: rgba($color: $primary, $alpha: 0.005) !important;
            @include darkMode {
                background-color: rgba($color: $black, $alpha: 0.15);
            }
        }
    }

    svg {
        font-size: rem(28) !important;
        top: 50%;
        transform: translateY(-50%);
    }

    .MuiFilledInput-input {
        padding: rem(22px) rem(12px) rem(7px) !important;
        font-size: 20px;
        font-size: $global-font-size;
        @include breakpoint(small) {
            font-size: $global-font-size-sm;
        }
    }
}

.MuiPaper-root {
    @include darkMode {
        background-color: var(--color-background) !important;
        color: var(--color-white) !important;
    }

    li {
        font-family: $font-family-sans-serif;
        font-size: $global-font-size;

        @include breakpoint(small) {
            font-size: $global-font-size-sm;
        }
    }
}
