body {
    padding-top: rem(60);
}
.l-headerMain {
    background-color: var(--color-primary);
    @include darkMode {
        background-color: darken($primary, 10%);
    }
    padding: $global-padding;
    height: rem(60px);
    z-index: $z-dropdown;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: rem(2) rem(4) rem(6) var(--color-shadow);
    width: 100%;
}
