.c-menu {
    flex-grow: 1;
    margin-left: rem(8px);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include breakpoint(small) {
        & {
            margin-left: 0;
            background-color: darken($primary, 5%);
            height: 100%;
            width: 100%;
            top: rem(70px);
            position: fixed;
            justify-content: flex-start;
            flex-direction: column;
            padding: rem(16px) 0;
            transition: 0.6s $t-elastic;
            left: -110%;
            opacity: 0.3;

            @include darkMode {
                background-color: darken($primary, 10%);
            }
        }
        &.active {
            display: flex;
            left: 0;
            opacity: 1;
        }
    }

    &__item {
        padding: 0 rem(6px);
        margin: 0 rem(6px);
        opacity: 0.8;

        &:last-child {
            margin-right: 0;
        }
        &--focus {
            opacity: 1;
        }
        &:hover {
            opacity: 0.9;
        }

        @include breakpoint(small) {
            & {
                padding: 0;
                width: 100%;
                margin: 0;
                text-align: center;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        color: white;
        cursor: pointer;
        font-size: $global-font-size-sm;
        &:hover {
            text-shadow: 0 0 rem(1px) var(--color-white);
        }

        @include breakpoint(small) {
            & {
                display: block;
                padding: rem(16px) 0;
                text-align: center;
            }
            &:hover {
                text-shadow: none;
                background-color: lighten($primary, 5%);

                @include darkMode {
                    background-color: darken($primary, 15%);
                }
            }
        }
    }
}
