.c-navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: $z-dropdown;
    width: 100%;
    align-items: center;
    max-width: $w-extra-large;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(small) {
        .btn-openDrawer {
            display: flex;
            width: rem(30px);
            height: rem(30px);
            background-color: var(--color-background);
            border: none;
            // transition: 1s $t-ease-out-expo;
            border-radius: rem(4);
            padding: $global-padding;
            position: relative;

            &::before,
            &::after {
                transition: 0.4s $t-ease-out-back;
                height: rem(3.2px);
                border-radius: $global-radius;
                background-color: var(--font-color);
                position: absolute;
                content: "";
                width: 60%;
                transform: translateX(-50%) rotate(0);
                left: 50%;
            }
            &::after {
                bottom: 30%;
                left: 60%;
                width: 40%;
            }
            &::before {
                top: 30%;
            }

            &.active {
                &::before,
                &::after {
                    width: 60%;
                    left: 50%;
                    transition: 0.4s $t-ease-out-back;
                    top: 45%;
                }
                &::after {
                    transform: translateX(-50%) rotate(225deg);
                }
                &::before {
                    transform: translateX(-50%) rotate(-225deg);
                }
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
                transition: 0.4s $t-ease-in-out-circ;
                transform: translateY(rem(-2px));
                box-shadow: 0 rem(4px) rem(4px) var(--color-shadow);
            }
            i {
                font-size: $global-font-size;
                color: var(--font-color);
            }
        }
    }

    &__logo {
        // background-color: var(--color-dark);
        padding: rem(2px) rem(8px);
        flex-grow: 1;
        text-align: center;
        max-width: rem(100);
        height: 100%;
        margin-right: rem(8px);
        filter: brightness(130%) saturate(130%);
        @include flex(center);
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}
