.swal2-shown.swal2-height-auto {
    .swal2-popup {
        background-color: var(--color-background) !important;
        box-shadow: rem(2) rem(4) rem(8) var(--color-shadow);
        @include darkMode {
            color: var(--font-color) !important;
        }

        .swal2-title,
        .swal2-html-container {
            color: inherit;
        }

        .swal2-actions {
            display: flex;
            padding: 0 rem(32);
            justify-content: space-around;
            @include breakpoint(small) {
                padding: 0 rem(8);
                // justify-content: space-between;
            }
        }

        .swal2-title {
            @include breakpoint(small) {
                font-size: $global-font-size-xlg !important;
            }
        }
        .swal2-html-container,
        .swal2-styled {
            @include breakpoint(small) {
                font-size: $global-font-size-sm !important;
            }
        }

        .swal2-styled.swal2-confirm {
            background-color: $primary;
            order: 2;
            @include darkMode {
                background-color: darken($primary, 10%);
            }
        }
        // ERROR
        .swal2-icon.swal2-error {
            @include darkMode {
                border-color: var(--color-danger);
                color: var(--color-danger);
                span {
                    span {
                        background-color: var(--color-danger);
                    }
                }
            }
        }
        //SUCCESS
        .swal2-icon.swal2-success {
            @include darkMode {
                border-color: var(--color-success) !important;
                color: var(--color-success) !important;
                span {
                    background-color: var(--color-success) !important;
                }
            }
        }
        // WARNING
        .swal2-icon.swal2-warning {
            border-color: var(--color-warning) !important;
            color: var(--color-warning) !important;
            span {
                background-color: var(--color-warning) !important;
            }
        }
    }
}
