.c-about {
    background-color: var(--color-accent);
    padding: rem(32);
    color: var(--color-white);
    border-radius: $global-radius;
    max-width: 160vh;
    box-shadow: rem(1) rem(1) rem(6) var(--color-shadow);
    margin: 0 auto;
    @include flex(space-between);

    @include breakpoint(medium) {
        flex-direction: column;
        margin: rem(16);
    }
    @include breakpoint(small) {
        padding: rem(16) rem(8);
        
    }
    & div {
        flex-grow: 1;
        width: 100%;
        margin: 0 $global-margin;
        padding: $global-padding;
    }

    &__title {
        font-size: rem(40);
        margin-bottom: $global-margin;
        @include breakpoint(medium) {
            font-size: $global-font-size-xlg;
        }
    }
    &__body {
        font-size: $global-font-size;
        @include breakpoint(medium) {
            font-size: $global-font-size-sm;
        }
        @include breakpoint(small) {
            font-size: rem(11);
            line-height: rem(14);
        }
    }
    &__right {
        @include flex(center);
    }
    &__image {
        width: 100%;
        height: 100%;
        max-width: rem(400);
        @include breakpoint(small) {
            max-width: rem(300);
        }
    }
}
