.c-members {
    width: 100%;
    padding: rem(32);
    border-radius: $global-radius;

    margin: rem(10);
    margin-top: rem(40);

    box-shadow: rem(1) rem(1) rem(6) var(--color-shadow);
    &__headline {
        font-size: rem(40);
        text-align: right;
        line-height: rem(44);
        max-width: rem(300);
        float: right;
        padding-bottom: rem(10);

        @include breakpoint(small) {
            font-size: rem(28);
            line-height: rem(36);
        }
    }

    &__top {
        width: 100%;
    }
    &__bottom {
        @include flex(space-between);
        width: 100%;
        @include breakpoint(medium) {
            flex-direction: column;
        }
    }
    &__image {
        flex-grow: 1;
        width: 100%;
        max-width: rem(350);
        @include breakpoint(small) {
            max-width: 100%;
        }
    }
    &__slider {
        // background-color: red;
        // height: 100%;
        @include breakpoint(medium) {
            width: 100%;
        }
    }
}
