.c-partner {
    padding: rem(32);
    color: var(--color-white);
    margin: rem(80) rem(10);
    max-width: 200vh;

    @include breakpoint(medium) {
        margin: rem(80) 0;
        padding: rem(8);
    }
    @include breakpoint(small) {
        padding: rem(16) rem(8);
    }
    &__headline {
        font-size: rem(40);
        color: var(--font-color);
        padding-bottom: $global-margin;
        line-height: rem(44);
        font-style: italic;
        padding-bottom: rem(12);
        @include breakpoint(medium) {
            font-size: $global-font-size-xlg;
        }
    }

    &__body {
        display: flex;
        height: 100%;
        width: 100%;
        @include breakpoint(medium) {
            flex-direction: column;
        }
    }
    &__about {
        box-shadow: rem(1) rem(1) rem(6) var(--color-shadow);
        padding: rem(50) rem(16);
        background: var(--color-primary);
        max-width: 50%;
        border-radius: $global-radius;
        text-align: center;
        @include breakpoint(medium) {
            max-width: 100%;
            margin-bottom: rem(16);
            padding: rem(30) rem(4);
        }
        @include breakpoint(small) {
            padding: rem(8);
        }
        &__headline {
            font-size: $global-font-size-xlg;
            padding-bottom: $global-padding;
            @include breakpoint(small) {
                padding-bottom: 0;
                padding-top: $global-padding;
            }
        }
        &__text {
            font-size: $global-font-size;
            padding: rem(16);
            word-break: break-all;
            text-overflow: ellipsis;
            @include breakpoint(small) {
                font-size: $global-font-size-sm;
                padding: rem(8);
            }
        }

        &__image {
            max-width: rem(250) !important;
            margin: 0 auto;
        }
    }

    &__right {
        width: 100%;
        padding: rem(0) rem(8);
        margin-left: rem(8);
        @include flex(space-between);
        flex-direction: column;

        @include breakpoint(medium) {
            padding: rem(20) rem(4);
            margin-left: rem(0);
        }
    }

    &__card {
        border-radius: $global-radius;
        width: 100%;
        box-shadow: rem(1) rem(1) rem(6) var(--color-shadow);
        @include flex(space-between);
        overflow: auto;
        height: rem(120);
        @include breakpoint(medium) {
            margin: $global-padding 0;
        }

        &__background {
            width: 60%;
            min-width: rem(120px);
            border-right: 1px solid var(--color-shadow);
            height: 100%;
            @include flex(center);

            img {
                max-height: rem(100);
            }
            & > .max {
                height: 100%;
                width: 100%;
                max-height: none;
            }
        }
        &__body {
            color: white !important;
            width: 100%;
            background-color: var(--color-accent);
            padding: rem(4);
            height: 100%;
            text-overflow: ellipsis;
            padding-right: rem(8);
        }
        &__span {
            font-size: $global-font-size;
            margin-left: rem(10);
            margin-top: rem(5);
            @include breakpoint(medium) {
                font-size: $global-font-size;
            }
            @include breakpoint(small) {
                font-size: $global-font-size;
            }
            font-weight: bold;
        }

        &__small {
            font-size: rem(13);
            line-height: rem(16);
            font-weight: 300;
            letter-spacing: rem(0.3);
            margin-left: rem(10);
            @include breakpoint(medium) {
                font-size: $global-font-size-sm;
            }
            @include breakpoint(small) {
                line-height: rem(14);
                font-size: rem(11);
            }
        }
    }
}
