html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  font-family: $font-family-sans-serif;
  color: inherit;
  letter-spacing: rem(-0.3);
  outline: 0;
  font-size: $global-font-size;
  // vertical-align: middle;
  z-index: $z-default;
  font-weight: 300;
  transition: 0.3s ease;
  background: transparent;
}
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: auto;
}
h1,
h2,
h3,
h4,
button {
  font-weight: 800;
  letter-spacing: $global-font-letter-spacing;
}
label {
  display: block;
}
// @see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// @see https://www.nicchan.me/blog/tips-for-focus-styles/#consider-adding-a-little-bit-of-breathing-room
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  color: var(--font-color);
  font-size: $global-font-size;
  margin: 0;
  border: none;
  overflow: hidden;
  outline: none;
  min-width: 0;
  outline-offset: 0.25rem;
}

// @see: https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/
@media (prefers-reduced-motion: reduce), (update: slow) {
  *,
  ::before,
  ::after {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    background: transparent;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    transition-duration: 0.3s !important;
  }
}

// @see https://www.zachleat.com/web/fluid-images/
img,
iframe,
object,
embed,
video {
  max-width: 100%;
}

img[width],
iframe[width],
object[width],
embed[width],
video[width] {
  width: auto; /* Defer to max-width */
}

img[width][height],
iframe[width][height],
object[width][height],
embed[width][height],
video[width][height] {
  height: auto; /* Preserve aspect ratio */
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  height: auto;
  max-width: none;
  width: 100%;
}

label,
a,
button,
input[type="submit"] {
  cursor: pointer;
}

sup,
sub {
  font-size: 50%;
}

// @see https://matthiasott.com/notes/focus-visible-is-here
:focus:not(:focus-visible) {
  outline: 0;
}

// ==========================================================================
// Project specifics
// ==========================================================================

body {
  line-height: $global-line-height;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Ubuntu, roboto, noto, arial, sans-serif;
  background-color: var(--color-background);
  min-height: 100vh;
  height: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

small,
sub,
sup {
  font-weight: lighter;
}
textarea {
  resize: none;
}

// Show focus styles on keyboard focus
// :focus-visible {
// }

// ::selection {
// }

// ::-moz-selection {
// }

// input::placeholder {}
// textarea::placeholder {}
// input::-webkit-input-placeholder {}
// textarea::-webkit-input-placeholder {}
// input::-moz-placeholder {}
// textarea::-moz-placeholder {}
// input:-ms-input-placeholder {}
// textarea:-ms-input-placeholder {}
