//? GLOBAL CLASSES
.radius {
  border-radius: $global-radius;
  padding: $global-padding;
}
.margin {
  margin: $global-margin;
}
.mt {
  margin-top: rem(8px);
}
.padding {
  padding: $global-padding;
}
.shadow {
  box-shadow: $global-shadow;
}
.border {
  border: $global-border;
}

.bg-white {
  @include bg-generate($light, $dark);
}
.bg-dark {
  @include bg-generate($gray-dark, $white);
}
.bg-primary {
  @include bg-generate($primary, $white);
}
.bg-error {
  @include bg-generate($danger, $white);
}
.bg-success {
  @include bg-generate($success, $white);
}
.bg-info {
  @include bg-generate($info, $white);
}
.bg-warning {
  @include bg-generate($warning, $gray-dark);
}

.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}

.text-small {
  font-size: $global-font-size-sm;
}
.text-large {
  font-size: $global-font-size-lg;
}
.text-extra-large {
  font-size: $global-font-size-xlg;
}

.bold {
  font-weight: bolder;
}
.text-ligther {
  font-weight: lighter;
}

.monospace {
  font-family: $font-family-monospace;
}
.serif {
  font-family: $font-family-serif;
}

.relative {
  position: relative;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
