//? BASIC ANIMATIONS

@keyframes pulse {
  0% {
    transform: scale(0.95);
    filter: drop-shadow(0 0 0 0 rgba(0, 0, 0, 0.6));
  }

  70% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 10px rgba(0, 0, 0, 0));
  }

  100% {
    transform: scale(0.95);
    filter: drop-shadow(0 0 0 0 rgba(0, 0, 0, 0));
  }
}
@keyframes to-left {
  from {
    margin-left: -110%;
    opacity: 0.3;
  }
  to {
    margin-left: initial;
    opacity: 1;
  }
}
@keyframes to-bottom {
  from {
    margin-top: -110%;
    opacity: 0.3;
  }
  to {
    margin-top: initial;
    opacity: 1;
  }
}
@keyframes to-right {
  from {
    margin-left: 110%;
    opacity: 0.3;
  }
  to {
    margin-right: initial;
    opacity: 1;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes zoom-in {
  to {
    transform: scale(1.05);
  }
}

@mixin opacity($op: 0.8) {
  opacity: $op;

  &:hover {
    opacity: 1;
  }
}
