//! COLORS
$colors: (
  // ? Strong
  "blue": #007bff,
  "indigo": #6610f2,
  "purple": #6f42c1,
  "pink": #e83e8c,
  "red": #dc3545,
  "orange": #fd7e14,
  "yellow": #ffc107,
  "green": #28a745,
  "teal": #20c997,
  "cyan": #17a2b8,
  // ? Neutrals
  "white": #fdfdfd,
  "black": #151515,
  "gray": #6c757d,
  "gray-light": #d1d1d1,
  "gray-dark": #343a40,
  // ? Theme
  "primary": #5a89ff,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #c83241,
  "light": #f8f9fa,
  "dark": #212529,
  "shadow": #1114,
  // ? Social
  "facebook": #3b5998,
  "twitter": #00aced,
  "linkedin": #0077b5,
  "youtube": #dc3535,
  "instagram": #e4405f,
  "github": #333,
  // ? Project Colors
  "accent": #806ba6
);

// ? SASS variables for personalization
$primary: #5a89ff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3535;

$white: #fdfdfd;
$light: #f8f9fa;
$black: #151515;
$gray: #6c757d;
$gray-light: #d1d1d1;
$gray-dark: #343a40;
$dark: #212529;

$accent: #806ba6;
$accent-dark: darken($accent, 5%);
$accent-light: lighten($accent, 5%);
