@charset "utf-8";
// Sans Serif
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
// Serif
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
// Monospace
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

//? IMPORT FUNCTIONS
@import "./app/sass/Functions/Default.scss";

//? IMPORT GLOBAL VARIABLES
@import "./app/sass/Global/Colors.scss";
@import "./app/sass/Global/Variables.scss";
@import "./app/sass/Global/Animations.scss";

//? INSERT CSS VARIABLES
:root {
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
    }

    --color-background: var(--color-light);
    --font-color: var(--color-dark);

    @include darkMode {
        --color-background: var(--color-dark);
        --font-color: var(--color-white);
    }
}

//? IMPORT LAYOUTS BASE
@import "./app/sass/Layout/Base.scss";
@import "./app/sass/Layout/GlobalClasses.scss";

//? IMPORT COMPONENTS
@import "./app/sass/Components/Header/Header.scss";
@import "./app/sass/Components/Header/Navbar.scss";
@import "./app/sass/Components/Header/Menu.scss";

@import "./app/sass/Components/Main/Main.scss";
@import "./app/sass/Components/Form/Form.scss";

@import "./app/sass/Components/Form/Button.scss";
@import "./app/sass/Components/Form/Input.scss";
@import "./app/sass/Components/Form/Checkbox.scss";
@import "./app/sass/Components/Form/Select.scss";
@import "./app/sass/Components/Form/Radio.scss";

@import "./app/sass/Components/Alert/Modal.scss";
@import "./app/sass/Components/Alert/Toast.scss";

// @import "./app/sass/Components/Form/Form.scss";
// @import "./app/sass/Components/Form/Form.scss";
